<!-- Header -->
<header class="h-auto bg-white">
  <!-- Primera línea: Logo y estado -->
  <div class="flex container mx-auto h-16 bg-white flex-row-reverse items-center ">
    <!-- <div class=" ">
        <img src="assets/Logo_principal.png" alt="Logo" class="w-80"/>

      </div> -->
    <div class="items-center">
      <!-- Segunda línea: Navegación -->
      <nav class="">
        <ul class="flex space-x-8 text-gray-700 text-xl">
          <li>
            <a href="/"
              class="hover:bg-[#796859] hover:text-white text-md font-medium transition duration-200 px-4 py-2 rounded-full">Inicio</a>
          </li>
          <!-- <li>
      <a href="#" class="hover:bg-[#796859] hover:text-white font-medium transition duration-200 px-4 py-2 rounded-full">Nosotros</a>
    </li>
    <li>
      <a href="#" class="hover:bg-[#796859] hover:text-white font-medium transition duration-200 px-4 py-2 rounded-full">Contacto</a>
    </li> -->
          <li>
            <a href="/login"
              class="hover:bg-[#796859] hover:text-white text-md font-medium transition duration-200 px-4 py-2 rounded-full">Iniciar
              sesión</a>
          </li>
        </ul>
      </nav>
    </div>


    <!-- Estado/Información adicional (opcional) -->

  </div>



</header>
