@if(!loaded){
<app-preloader></app-preloader>
}
@else{
<div class="w-100">
    <!-- TITLE SECTION -->
    <div class="flex justify-between w-100">
        <h1 class="text-2xl font-bold text-gray-700">Cargar comprobante</h1>
          <div>
                <p-button icon="pi pi-arrow-left" 
                    outlined="true"
                    label="Volver"
                    severity="warn"
                    size="small"
                    [routerLink]="[ level == 1 ? '/admin/rutas/view/'+id : '/admin/mis-rutas/view/'+id  ]">
                </p-button>
             
            </div>

    </div>

    <!-- MAIN SECTION -->
    <div class="w-100 py-4">

       
        <div class="card flex flex-col gap-6 ">
             <p-fileupload   
                class="w-full" 
                url="{{url}}" 
                #fileUploader
                chooseIcon="pi pi-upload" 
                chooseLabel="Elegir Archivo"
                uploadLabel="Procesar"
                maxFileSize="1000000" 
                name="file"
                multiple="false"
                [showUploadButton]="true"
                accept=".csv,.xls,.xlsx" [maxFileSize]="3000000" 
                (onBeforeUpload)="onBeforeSend($event)" 
                (onError)="onError($event)"
                (onUpload)="onUpload($event)"
            />
      
            
        </div>
        <p-toast />

    </div>
    <!-- END MAIN SECTION -->
</div>
}
<p-toast />
<p-confirmDialog />